<%= form_for @objects_info, :html => {:multipart => true} do |f| %>  
  <% if @objects_info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@objects_info.errors.count, "error") %> prohibited this objects_info from being saved:</h2>

      <ul>
      <% @objects_info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Название_объекта %><br />
    <%= f.text_area :obj_name, :size => "60x1" %>
  </div><br>
  <div class="field">
    <%= f.label :Категория %><br />
    <%= f.select(:obj_type, ['uchastok', 'dom', 'kvartira']) %>
  </div><br>
  <div class="field">
    <%= f.label :Адрес %><br />
    <%= f.text_area :obj_adress, :size => "60x1" %>
  </div><br>
  <div class="field">
    <%= f.label :Информация_об_объекте %><br />
    <%= f.text_area :obj_info, :size => "60x4" %>
  </div><br>
  <div class="field">
    <%= f.label :Количество_комнат %><br />
    <%= f.select(:obj_room_num, ['', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']) %>
  </div><br>
  <div class="field">
    <%= f.label :Площадь %><br />
    <%= f.text_area :obj_area_square, :size => "60x1" %>
  </div><br>
  <div class="field">
    <%= f.label :Цена %><br />
    <%= f.text_area :obj_price, :size => "10x1"  %> руб.
  </div><br>
    <div class="field">
    Загрузить фото: <%= f.file_field :avatar %>
  </div><br>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
