


<div class="object_list">
	<%= link_to obj do %>
	<%= image_tag obj.avatar_url(:thumb) if obj.avatar? %>
	<% end %>
	<h3><%= link_to obj.obj_name, obj %></h3>
	<p><b>Адрес:</b> <%= obj.obj_adress %><br>
	<b>Площадь участка:</b> <%= obj.obj_area_square %></p>
	<span class="price_block"><%= number_with_delimiter(obj.obj_price, :delimiter => " ") %> руб.</span>
	<%= link_to '', obj, :class => 'know_more_button_sprite' %>
	<br>
	<p>
	<% if can? :update, obj %>
      <%= link_to 'Редактировать', edit_objects_info_path(obj) %>
    <% end %>
    <% if can? :destroy, obj %>
	  <%= link_to 'Удалить', obj, method: :delete, data: { confirm: 'Точно удалить?' } %></p>
    <% end %>
</div>
		<div class="object_bottom"></div>


