


<div class="object_list">
	<%= image_tag obj.avatar_url(:thumb) if obj.avatar? %>
	<h3><a href="#"><%= obj.obj_name %></a></h3>
	<p>Адрес: <b><%= obj.obj_adress %></b><br>
	Площадь участка: <b> <%= obj.obj_area_square %></b></p>
	<span class="price_block"><%= obj.obj_price %> руб.</span>
	<a class="know_more_button_sprite" href="#"></a>
</div>
<div class="object_bottom"></div>