


<div class="object_list">
	<%= image_tag obj.avatar_url(:thumb) if obj.avatar? %>
	<h3><%= link_to obj.obj_name, obj %></h3>
	<p>Адрес: <b><%= obj.obj_adress %></b><br>
	Площадь участка: <b> <%= obj.obj_area_square %></b></p>
	<span class="price_block"><%= obj.obj_price %> руб.</span>
	<a class="know_more_button_sprite" href="#"></a>
	<p><%= link_to 'Показать', obj %>
    <%= link_to 'Редактировать', edit_objects_info_path(obj) %>
	<%= link_to 'Удалить', obj, method: :delete, data: { confirm: 'Точно удалить?' } %></p>
</div>



<div class="object_bottom"></div>