<h1>Недвижимость Солнечногорска</h1>

<p>
  <% if user_signed_in? %>
    Большой брат следит за тобой, <%= current_user.email %>
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</p>


<% @objects_infos.each do |obj| %>
	
	<%= render "objects_infos/object_prew", obj:obj %>
	
<% end %>

<br />

<span class="create_objects_new"><img src="http://cdn1.iconfinder.com/data/icons/basicset/plus_16.pngе"><%= link_to 'Создать новый объект', new_objects_info_path %></span>

	
<div class="page_number_block">
<%= paginate @objects_infos %>

</div>