

<h1><%= @objects_info.obj_name %></h1>
<%= image_tag @objects_info.avatar_url(:largephoto) if @objects_info.avatar? %>

<p>
  <b>Адрес:</b>
  <%= @objects_info.obj_adress %>
</p>

<p>
  <b>Площадь:</b>
  <%= @objects_info.obj_area_square %>
</p>

<p>
  <b>Информация:</b>
  <%= @objects_info.obj_info %>
</p>

<p>
  <span class="price_block">
  <%= @objects_info.obj_price %> руб.
  </span></br>
</p>
<h2>Похожие объекты:</h2>
  	<% @objects_similar.each do |similar| %>
  	<div class="similar_objects">
    <%= image_tag similar.avatar_url(:thumb) if similar.avatar? %>
    <p><%= link_to similar.obj_name, similar %></p>
    </div>
  
  <% end %>

<p><%= link_to 'Редактировать', edit_objects_info_path(@objects_info) %> |
<%= link_to 'Назад', objects_infos_path %></p>
<p id="notice"><%= notice %></p>
