<p id="notice"><%= notice %></p>


<h1><%= @objects_info.obj_name %></h1>
<%= image_tag @objects_info.avatar_url(:largephoto) if @objects_info.avatar? %>

<p>
  <b>Адрес:</b>
  <%= @objects_info.obj_adress %>
</p>

<p>
  <b>Информация:</b>
  <%= @objects_info.obj_info %>
</p>

<p>
  <b>Количество комнат:</b>
  <%= @objects_info.obj_room_num %>
</p>

<p>
  <b>Площадь:</b>
  <%= @objects_info.obj_area_square %>
</p>

<p>
  <b>Цена:</b>
  <%= @objects_info.obj_price %> руб.
</p>
<h3>Похожие объекты:</h3>
  <% @objects_similar.each do |similar| %>
  
    <%= similar.obj_name %>
  
  <% end %>

<p><%= link_to 'Редактировать', edit_objects_info_path(@objects_info) %> |
<%= link_to 'Назад', objects_infos_path %></p>