<p id="notice"><%= notice %></p>

<p>
  <b>Название объекта: </b>
  <%= @objects_info.obj_name %>
</p>

<p>
  <b>Категория объекта:</b>
  <%= @objects_info.obj_type %>
</p>

<p>
  <b>Адрес:</b>
  <%= @objects_info.obj_adress %>
</p>

<p>
  <b>Информация:</b>
  <%= @objects_info.obj_info %>
</p>

<p>
  <b>Количество комнат:</b>
  <%= @objects_info.obj_room_num %>
</p>

<p>
  <b>Площадь:</b>
  <%= @objects_info.obj_area_square %>
</p>

<p>
  <b>Цена:</b>
  <%= @objects_info.obj_price %>
</p>

<p>
    <%= @objects_info.avatar %>
</p>

<p>
	

<%= image_tag @objects_info.avatar_url(:thumb) if @objects_info.avatar? %>


</p>

<%= link_to 'Редактировать', edit_objects_info_path(@objects_info) %> |
<%= link_to 'Назад', objects_infos_path %>