

<h1><%= @objects_info.obj_name %></h1><br>
<%= image_tag @objects_info.avatar_url(:largephoto) if @objects_info.avatar? %>

<p>
  <b>Адрес:</b>
  <%= @objects_info.obj_adress %>
</p>

<p>
  <b>Площадь:</b>
  <%= @objects_info.obj_area_square %>
</p>

<p>
  <b>Информация:</b>
  <%= @objects_info.obj_info %>
</p>

<p>
  <span class="price_block">
  <%= number_with_delimiter(@objects_info.obj_price, :delimiter => " ") %> руб.
  </span></br>
</p>
<p style="clear:both">
<% if can? :update, @objects_info %>
  <%= link_to 'Редактировать', edit_objects_info_path(@objects_info) %>
<% end %>
</p>
<p id="notice"><%= notice %></p>
<h2>Похожие объекты:</h2>
  	<% @objects_similar.each do |similar| %>
  	<div class="similar_objects">
  	<%= link_to similar do %>
      <%= image_tag similar.avatar_url(:thumb) if similar.avatar? %>
    <% end %>
    <p><%= link_to similar.obj_name, similar %></p>
    </div>
  
  <% end %>
<br>
