<%= form_for(@scan) do |f| %>
  <% if @scan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scan.errors.count, "error") %> prohibited this scan from being saved:</h2>

      <ul>
      <% @scan.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :keywords %><br />
    <%= f.text_area :keywords %>
  </div>
  <div class="field">
    <%= f.label :category %><br />
    <%= f.text_area :category %>
  </div>
  <div class="field">
    <%= f.label :minimum_price %><br />
    <%= f.text_area :minimum_price %>
  </div>
  <div class="field">
    <%= f.label :maximum_price %><br />
    <%= f.text_area :maximum_price %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
