<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<link href="/img/favicon.ico" rel="shortcut icon" type="image/x-icon" />
	<link type="text/css" href="./style.css" rel="stylesheet">
	<title>Альфа Плюс — Недвижимость Солнечногорска</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults,"nested_form" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top_wrapper">
		<div class="top_block_wrapper">
			<div class="logo_block">
				<div class="logo_img"><div><%= link_to image_tag("/img/logo_last.png"), index_path %></div></div>
				<div class="tel_block">
					<p class="red_tel" style="color: #BE1E1E;">+7 (926) 383-65-91</p>
					<p class="blue_days">Пн. – Пт.: 10:00 – 19:00</p>
				</div>
			</div>
		</div>
		
		<div class="menu_wrapper">
			<div class="left_menu_im"></div>
			<div class="menu_im">
				<div class="menu_im_wrap">
					<%= link_to 'Недвижимость', reality_path %>
					<%= link_to 'Независимая оценка', independent_evaluation_path %>
					<%= link_to 'Юридические услуги', legal_services_path %>
					<%= link_to 'Землеустройство', land_managment_path %>
					<%= link_to 'Контакты', contacts_path %>
				</div>
			</div>
			<div class="right_menu_im"></div>
		</div>
		
		<div class="white_grad_block">
			<div class="slider_block">
				<div class="slider">
					<div class="last-section">
            			<div id="slider"><div class="slides_container">
                			<div>
                			<span class="slider_but"><%= link_to image_tag("/img/know_more_slider_but.png"), index_path %></span>
                			<img src="/img/img2.png" width="659px" height="317px"/></div>
                			
                			<div>
                			<span class="slider_but"><%= link_to image_tag("/img/know_more_slider_but.png"), independent_evaluation_path %></span>
                   			<img src="/img/img1.png" width="659px" height="317px"/></div>
                			
                			<div>
                   			<span class="slider_but"><%= link_to image_tag("/img/know_more_slider_but.png"), legal_services_path %></span>
                			<img src="/img/img3.png" width="659px" height="317px"/></div>
            			</div></div>
            		</div>
				</div>
			</div>
			<div class="adv_search">
				<form method="get" action="/objects_infos">
				<h3>Мне нужно купить:</h3>
					<div class="btn-group">
    					<input type="radio" name="seektype" value="All" id="radio_1" />
   						<label class="btn" for="radio_1">Не важно</label>
    					<input type="radio" name="seektype" value="uchastok" id="radio_2" />
    					<label class="btn" for="radio_2">Участок</label>
    					<input type="radio" name="seektype" value="dom" id="radio_3" />
    					<label class="btn" for="radio_3">Дом</label>
    					<input type="radio" name="seektype" value="kvartira" id="radio_4" />
    					<label class="btn" for="radio_4">Квартиру</label>
					</div>
				<h3 class="second_h3_search">Месторасположение:</h3>
				<select name="seek_place">
					<option value="Все районы">Все районы Солнечногорска</option>
				</select>
				<h3 class="third_h3_search">Цена в рублях:</h3>
				<p>от&nbsp;<input name="seekminprice" value="0" type="text" size="11">&nbsp; до &nbsp;<input name="seekmaxprice" value="100000000" type="text" size="11"> руб.</p>
				<div type="submit" value="submit" class="main_but_search" onclick="javascript:this.parentNode.submit();"></div>
				</form>
			</div>
		</div>
		
		<div class="white_block_shadow"></div>
		<div class="black_bottom_shadow"></div>
	</div>
	
	<div class="main_wrapper">
		<div class="main_page_wrapper">
			<div class="main_page_left">
				<%= yield %>
			</div>
			<div class="main_page_right">
				<h2>Отзывы наших клиентов</h2>
				<p><b>Алексей Рыбаков:</b><br>
«Хотелось бы выразить особую благодарность специалистам за профессиональную работу и человеческий подход в решении сложной и очень важной лично для меня задачи, а именно — приобритения мною квартиры с условием расселения коммунальной площади. Спасибо!». <span class="all_cooment_a"><%= link_to 'Все отзывы', review_path %></span></p>
				<h2 class="second_right_h">Связь с нами</h2>
				<p>Наши телефоны в Солнечногорске:<br>
				<span class="big_text_p">+7 (926) 383-65-91<br>
				+7 (926) 785-96-08</span></p>
				<img class="img_map_ico" src="/img/map_ico.png"><p>г. Солнечногорск,<br>Промышленный пр.,<br>д. 1Б, Офис №15.</p>
				<p class="show_map" href="#"><%= link_to 'Посмотреть на карте', contacts_path %></p>
			</div>
			
		</div>
	</div>
	
	<div class="footer_wrapper">
		<div class="footer_text">
			<div class="left_footer">© Copyright 2012, ООО «Альфа +», тел.: +7 (926) 383-65-91, +7 (926) 785-96-08</div>
			<div class="right_footer">Информация на сайте не является публичной офертой.</div>
		</div>
	</div>

</body>
</html>
